body {
  font-family: helvetica;
  margin: 0px;
  background-color: #FFFAEE; /* light cream color */
  color: #350072;
}

.body {
  margin-top: 45px; /* leave room for the header */
  margin-bottom: 45px; /* leave room so we can scroll content above the + button */
  padding: 10px;
}

.header {
  height: 45px;
  background-color: #350072;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
}

.activities .flex-space-between {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.activity {
  font-size: 1.2em;
}

/* In Activities list show open-close chevrons for actions on activities */
.activity input + div .activity-name:before {
  content: '›';
  font-size: 1.8em;
  padding-right: 5px;
}

.activity input:checked + div .activity-name:before {
  content: '⌄';
}

.activity-actions {
  display: none;
}

.activity input:checked ~ div.activity-actions {
  display: block;
}

.activities ul, .archived ul {
  list-style: none;
  -webkit-padding-start: 0; /* otherwise there's a left side margin*/
}

.error {
  padding: 10px;
  border: 1px solid hsl(340, 82%, 52%);
  color: hsl(340, 82%, 52%);
  background-color: hsla(340, 82%, 52%, 0.05);
}

/*BUTTONS AND FORMS*/
button, input, select, .choice {
  font-size: 1.2em;
  border-radius: 2px;
  margin: 10px;
  background-color: white;
  border: 2px solid #350072;
  color: #350072;
}

button.primary, .choice.primary, input.primary {
  color: white;
  background-color: #350072;
}

label.choice {
  margin-top: 20px;
}
button.choice {
  margin-top: 50px; /* spread these out so it's easier to not miss */
}

input[type='submit'], input[type='text'], select, .choice {
  box-sizing: border-box;
  padding: 5px;
  width: 95%;
  display: block;
}

.reason {
  font-weight: bold;
  font-style: italic;
}

.constraint {
  margin-left: 20px; /* extra left margin to indent constraints*/
}
.constraint-inline {
  display: flex;
  align-items: baseline;
}
.constraint-inline input[type="text"] {
  flex-grow: 1;
}

.header button {
  margin: 0px;
  border: none;
  background: transparent;
  color: white;
}

.activities-list {
  font-size: 30px;
}

.create-todo {
  font-size: 42px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

label {
  display: block;
  padding: 10px 3px;
  font-weight: 500;
}
button, label {
  cursor: pointer;
}

/* POSITIONING & LAYOUT */
.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.container {
  margin-left: 10px;
}
